.product-detail {
    /* width: 50%; */

    width: 750px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 0px auto; */
    margin-top: 15px;
    margin-left: 135px;
    background: white;
    border-radius: 15px;
    box-shadow: 15px 30px 45px 20px rgb(95, 95, 95);
}

.product-detail img {
    width: 50vh;
    margin-top: 0px;
}

.text{
    background-color: transparent;
    word-spacing: 2px;
}

.text h2 {
    margin-top: 2px;
    font-size: 22px;
}

.text p {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 16px;
}

.text .description {
    /* font-weight: bold; */
    margin: 10px;
}

.text .price{
    font-size: 20px;
    /* margin-bottom: 5px; */
    margin: 8px 0px;
}

.order-button {
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: #0D448C;;
    border: none;
    border-radius: 8px;
    color: aliceblue;
    cursor: pointer;
    box-shadow: 0px 0px 10px gray;
}

.order-button:hover{
 background-color: #0f52ab;
 transform: scale(1.05);
 transition: all 0.2s linear;
}

@media(max-width: 1400px){
    .product-window{
        width: 50vw;
    }
    .text{
        word-spacing: 0px;
    }
    
}