.categories-section {
    width: 100%;
    display: flex;
    gap: 15px;
    background-color: transparent;
}


.categories-section img{
    flex: 1;
    height: 260px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.categories-section img:hover{
    transform: scale(1.05);
}