.categories-section {
    width: 100%;
    display: flex;
    gap: 15px;
    background-color: transparent;
    flex-wrap: wrap;
}


.categories-section img{
    flex: 1 1 33.333% - 15px;
    height: clamp(350px, 2vw, 400px);
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border-radius: 8px;
}

.categories-section img:hover{
    transform: scale(1.05);
}



@media(max-width: 1300px) {
     .categories-section img{
    flex: 1 1 33.333% - 15px;
    height: clamp(245px, 2vw, 300px);
    }
}

