.nav-top button {
    display: none;
}

.nav-menu {
    margin-top: 60px;
}

.nav-menu ul {
    list-style: none;    
}

.nav-menu ul a{
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: none;
}