.main-menu a{
    display: block;
    text-decoration: none;
    font-size: 35px;
    margin-top: 10px;
    color: #01295e;
}

.active {
    transform: scale(1.1);
}

.checkbox-container{
    margin-top: 15px;
    padding-left: 15px;
}

.checkbox-container h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
    accent-color: #01295e;
    cursor: pointer;
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.nav-list .active + .checkbox-container {
    display: block;
}

.nav-menu {
    margin-top: 25px;
}

.nav-menu {
    list-style: none;    
}


.nav-menu a{
    color: black;
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
    text-decoration: none;
}


.close-button{
    display: none;
    position: fixed;
    top: 95px;
    left: 165px;
    color: rgb(250, 250, 250);
    background-color: #0f52ab;
    border:1px solid #8d8d8d;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 5px;
}

.close-button:hover{
    background-color: #0f52ab;
    transform: scale(1.05);
    transition: all 0.2s linear;
}

@media(max-width:1300px){
    .close-button{
        display: block;
        
    }
}