.product-slider {
    width: 100%;    
}

.slider-row {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.product-cards-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-btn{    
    background-color: transparent;
    color: black;
    border: none;
    font-size: 35px;
    cursor: pointer;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card {
    min-width: 200px;
    margin: 0;
}


.product-card img {
    width: 190px;
}

.slide-left {
    transform: translateX(-100%);
    opacity: 0;
}

.slider-right {
    transform: translateX(100%);
    opacity: 1;
}

.slide-in {
    transform: translateX(0%);
    opacity: 1;
}
