.product-slider {
    width: 100%;
    overflow: hidden;
}

.slider-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.slider-btn{    
    background-color: transparent;
    color: black;
    border: none;
    font-size: 35px;
    cursor: pointer;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card {
    flex: 0 0 160px;
    border-radius: 28px;
    border: 2px solid purple;
    margin: 0;
}


.product-card img {
    width: 190px;
}
