* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.layout {
  display: flex;
  height: 100vh;
}

nav {
  width: 250px;
  background-color: #F2F2F2;
  border: 2px solid #0D448C;
  padding: 20px;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
}

.content-wrapper {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  width: calc(100%-250px);
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow-y: auto;
}
